@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&display=swap');

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: aqua;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.titulo{
    font-size: 1.6rem;
    font-family: 'Krona One', sans-serif;
}

.titulo_destaque{
    color: #CCD5AE;
}

.apresentacao_conteudo_texto{
    font-size: 1.3rem;
    font-family: 'Bebas Neue', cursive;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.apresentacao_links_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.2rem;
}

.apresentacao_botao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: #0EA293;
    width: 23rem;
    text-align: center;
    border: 0.1rem solid #2F0F5D;
    border-radius: 1.1rem;
    padding: 1.5rem 0;
    font-family: 'Bebas Neue', cursive;
    transition: 0.8s all;
}

.apresentacao_botao:hover{
    background-color: #2D2727;
    border-radius: 1.5rem;
    border-color: #57C5B6;
}

.foto{
    border: 0.1rem solid #95BDFF;
    border-radius: 1.2rem;
    box-shadow: 1rem #7DB9B6;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}