@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --primeira_cor: #2C3639;
    --segunda_cor: #3F4E4F;
    --terceira_cor: #A27B5C;
    --quarta_cor: #DCD7C9;
    
    --font_primaria: 'Krona One', sans-serif;
    --font_secundaria: 'Montserrat', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: var(--primeira_cor);
    color: var(--quarta_cor);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    background-color: var(--primeira_cor);
}

.cabecalho_menu{
    display: flex;
    gap: 5rem;
}

.cabecalho_menu_link{
    font-family: var(--font_secundaria);
    font-size: 1.5rem;
    color: var(--terceira_cor);
    transition: 1s all;
}

.cabecalho_menu_link:hover{
    color: var(--quarta_cor);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.5rem;
}

.apresentacao_conteudo{
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo{
    font-size: 1.6rem;
    font-family: var(--font_primaria);
}

.titulo_destaque{
    color: var(--terceira_cor);
}

.apresentacao_conteudo_texto{
    font-size: 1.3rem;
    font-family: var(--font_secundaria);
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-between;
}

.apresentacao_links_subtitulo{
    font-family: var(--font_primaria);
    font-size: 1.2rem;
}

.apresentacao_botao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--terceira_cor);
    width: 23rem;
    text-align: center;
    border: 0.1rem solid var(--segunda_cor);
    border-radius: 1.1rem;
    padding: 1.2rem 0;
    font-family: var(--font_secundaria);
    transition: 0.8s all;
}

.apresentacao_botao:hover{
    background-color: var(--segunda_cor);
    border-radius: 1.5rem;
    border-color: var(--primeira_cor);
}

.foto{
    border: 0.1rem solid var(--terceira_cor);
    border-radius: 14rem;
    box-shadow: 5px 3px 8px var(--quarta_cor);
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-family: var(--font_secundaria);
}

/*Os webkits são os motores que renderizam as páginas no chrome e no safari, estão sendo manipulados abaixo para personalização da barra de scroll*/
::-webkit-scrollbar-thumb{
    border-radius: 1.5rem;
    background: var(--terceira_cor);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--segunda_cor);
}

::-webkit-scrollbar{
    width: 0.4rem;
}